.mainWrap{
    margin: 0px auto;
    max-width:850px;
    height: 100vh;
    /* overflow: scroll; */
    overflow-y: auto hidden;
    z-index: 1;

}
.outletWrap{
    /* border:1px solid red; */
    /* background-color:#ffffff; */
}


@media screen and  (max-width:850px) {
    .mainWrap{
        width: 100%;
    }

}
@media screen and (max-width:650px){
    .outletWrap{
        /* margin-top: 20px; */
    }
}
