.mainWrap{
    margin: 0px auto;
    /* max-width:850px; */
    overflow: scroll;
    overflow-y: scroll hidden;
    	background-color:#F9F9F9;
    z-index: 1;

}
.outletWrap{

height: 100vh;

}


@media screen and  (max-width:850px) {
    .mainWrap{
        width: 100%;
    }

}
@media screen and (max-width:650px){
    .outletWrap{
        /* margin-top: 20px; */
    }
}
