.mainWrap {
    width: 100vw;
    height: 100vh;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.wrapContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.wrapButtonLang {
    padding: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-end;

}

.wrapButtonLang select {
    padding: 5px;
    background-color: transparent;
    display: inline-block;
    color:black;
}
.formWrap {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.inputForm {
    width: 100%;
    display: block;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 10px;
    font-size: 18px;
    background-color: #ffffff;
    border: 1px solid #e0e0e091;
}

.titleForm {
    text-align: center;
    font-weight: 500;
    font-size: 25px;
}
.submitForm {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(93, 126, 88);
    color: #ffffff;
    margin: 0px auto;
    font-size: 18px;
}
.switchTypeForm {
    color: blue;
    border-bottom: 1px solid blue;
    cursor: pointer;
    background-color: transparent;
    font-size: 14px;
}
span{
    text-align: center;
}
.messageSuccess {
    color: green;
}
.messageError {
    color: red;
}

.inputPassWrap{
    width: 100%;
    position: relative;

}
.labelPass button{
    position: absolute;
    top:10px;
    right: 11px;
    color:gray;
    background-color:#ffffff;
    cursor: pointer;
    font-size: 15px;
    padding: 3px;
    font-weight: 600;
}
