.customWrap{
width:100%;
height: 100%;
font-family: "Playfair";
display: flex;
flex-direction: column;
align-items:center
}

.headerWrap{
      font-family: "Playfair";
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.titleHeader{
    font-size: 25px;
    margin-bottom: 10px;
}
.inputDate{
    padding: 5px;
    background-color: transparent;
    font-size: 16px;
}

.buttonsWrap {
  display: flex;
  width: 500px;
  justify-content: space-around;
}

.contentWrap{
border:1px solid red;
}

.wrapList {
  width: 50%;
}
.wrapCustom{
display: flex;
align-items:baseline;
}
