.listWrap {
  width: 100%;
  opacity: 0;
  animation: fadeIn 0.4s ease-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.headerList {
  width: 100%;
  padding: 5px;
  /* overflow: hidden; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;

}

.wrapIconTitle {
  display: flex;
  gap: 10px;
  align-items: center;
}
.iconCategory {
  width: 30px;
}

.titleList {
  font-weight: 500;
  font-size: 20px;
  z-index: 1;
}
.listPrice {
  transform: translateY(-3px);
  font-size: 20px;

}
.listMenu {
  width: 100px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.listIcon {
  transform: translateY(3px);

}
.listItems {
  position: relative;
  padding: 5px 10px;
  z-index: 10;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  animation: fadeIn 0.4s ease-out forwards;
}

.transactionPlaceholderWrap {
  margin-top: 20px;
}


.transactionPlaceholderWrap > span {
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
.titleInput{
  margin-top: 10px;
  text-decoration: underline;
  cursor: pointer;
}
.addTransaction {
  margin-top: 15px;
  font-weight: 600;
  cursor: pointer;
}

.wrapPriceRedactor{
display: flex;
align-items:center;
width: 90px;
justify-content: space-between;
position: relative;
}
.menuRedactorButton{
  cursor: pointer;
  padding: 0px;
  position: relative;
  background-color: transparent;
}
.menuRedactor {
  position: absolute;
  left: -140px;
  top: 15px;
  font-size: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
  padding: 3px;
  background-color: #ffffff;
  border-radius: 5px;
  width: 200px;
 z-index: 1000;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); /* для визуального слоя */
}

.menuRedactor  li{
  padding: 5px;
  background-color:#ffffff;
}
.menuRedactor  span{
  margin-left: 5px;
  background-color:#ffffff;
}
.menuRedactor  li:hover{
  background-color:rgba(128, 128, 128, 0.611);
  width: 100%;
    border-radius: 5px;
    cursor: pointer;

}
