.listWrap{

    width: 370px;
}
.headerList{
    padding: 5px;

    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

}
.titleList{
    font-weight: 500;
    font-size: 20px;
}
.listPrice{
transform: translateY(-3px);
    font-size: 20px;
}
.listMenu{
 width: 100px;
 display: flex;
 align-items: baseline;
 justify-content: space-between;
}

.listIcon{
    transform: translateY(3px);
}
.listItems{
    /* border:1px solid red; */
    padding: 5px 10px;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}



.transactionPlaceholderWrap{
    margin-top: 20px;
}
.transactionPlaceholderWrap > span{
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
.addTransaction{
    margin-top: 15px;
    font-weight: 600;
    cursor: pointer;

}
