
.categoryListWrap {
  padding: 10px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.categoryListItem {
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.categoryListIcon {
  width: 32px;
}

@media screen and (max-width:350px){
  .categoryListWrap {
  padding: 10px;
  height: 400px;
  display:flex;
  overflow: hidden auto;
  overflow-y: hidden scroll;
  flex-direction: column;
  border-radius: 5px;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
}
