.logoWrap{
    max-width: 150px;
    display: flex;
    align-items:center;
    border-radius:10px;
    gap: 5px;
    cursor: pointer;
}
.logoIcon{
    width:70px;
    height: 70px;

}
.logoTitle{
    font-weight: 500;
    font-size: 20px;
    word-spacing: 4px;
    color:black;
}
.large{
     width: 100px;
     height: 100px;

 }
