.mainWrap{
    height: auto;
margin-top: 20px;
padding: 10px;
font-family: "Playfair";
font-weight: 600;
display: flex;
flex-direction: column;
justify-content: center;
align-items:center;
gap:10px;

}
.headerWrap{
    /* border:1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.headerTitle{
    font-size: 20px;
}
.headerNav{
    transform: translateY(4px);
    cursor: pointer;
}

.buttonsWrap{
    display: flex;
    width: 500px;
    justify-content: space-around;
}
