.mainWrap{
margin-top: 20px;
padding: 10px;
font-family: "Playfair";
font-weight: 600;
}
.transactionListWrap{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
}
.transactionListItem{
    font-size: 18px;
    font-weight: 600;
}
.balanceTitle{
    font-weight: lighter;
}

.buttonTransaction{
    padding: 10px;
    border-radius:5px;
    font-size: 16px;
    color:#ffffff;
    display: block;

}

.tableBorder{

    margin: 0px auto;
    padding:  10px;
    width: 600px;
    margin-bottom: 10px;
}
.tableWrap{
    font-size: 18px;
    border-collapse: collapse;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.589);
    background-color:rgb(93,126,88);
    color:#ffffff;
}

caption{
    margin-bottom: 10px;
    font-size: 25px;
    color:black;
}
tr{
    margin: 0px;
    border-bottom:2px solid black;
}
th{
    padding: 20px;
}
td{
    border-bottom:1px solid black;

    padding: 15px;
    width: 150px;

}
