.reviewWrap {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: auto;
  font-family: "Playfair";
  padding-bottom: 30px;
    margin-top: 20px;
}

.headerWrap{
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.headerTitle {
  font-size: 20px;
  text-align: center;
  transform: translateY(-3px);
}
.buttonsWrap {
  display: flex;
  width: 500px;
  justify-content: space-around;
}

.wrapList {
  position: relative;
  width: 50%;
}
