.wrapMain{
    width: 800px;
    height: 40px;
    margin: 0px auto;
    padding-top: 20px;
}
.navItemWrap{

display: flex;
width: 100%;
/* border:1px solid red; */
flex-direction: row;
justify-content: space-around;

}
.navItem{
    padding: 5px;

    color:#000000;
    font-size: 18px;
    text-align: center;
    font-family: "Playfair";
    cursor: pointer;

}
.navItem:hover{
    color: rgb(181,53,52);
}
