.wrapMain {
  max-width: 800px;
  margin: 0px auto;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
  box-sizing: border-box;
  height: 100px;
}
.navItemWrap {
  display: flex;
  width: 40%;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  margin-bottom: 10px;
}
.navItem {
  position: relative;
  padding: 5px 0px 5px 0px;
  color: #000000;
  font-size: 18px;
  text-align: center;
  font-family: "Playfair";
  cursor: pointer;
}

.navItemActive {
  border-bottom: 1px solid rgb(93, 126, 88);
}

.addTransactionWrap {
  width: 100%;
  display: flex;
  justify-content: center;
}
.addTransactionButton {
  width: 50px;
  height: 50px;
  padding: 0;
  cursor: pointer;
  background-color: #d3e5ff;
  margin: 0;
  font-size: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-weight: 600;
  border: none;
}
.dropDownListWrap {
  position: absolute;
  background-color: #ffffff;
  top: 30px;
  border-radius: 5px;
  font-size: 14px;
  text-align: left;
  padding: 4px 5px;
}
.dropDownListWrap li {
  min-width: 120px;
  padding: 2px;
  color: #000000;
  margin-bottom: 5px;
  border-radius: 5px;
}
.dropDownListWrap li:hover {
  background-color: rgba(128, 128, 128, 0.432);
}
.burgerWrap {
  display: none;
}

.menuBurger {
  position: fixed;
  z-index: 10;
  top: 100px;
  left: 0px;
  height: 1000vh;
  width: 1000px;
  background-color: #ffffff;
  width: 100%;
}

.navItemMenuWrap {
  width: 100vw;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
}

@media screen and (max-width: 650px) {
  .wrapMain {
    width: 100vw;
    max-width: 100%;
    background-color: #ffffff;
    z-index: 10;
    top: 0px;
    position: fixed;
    padding: 20px;
  }
  .navItemWrap {
    display: none;
  }
  .burgerWrap {
    display: block;
  }
  .addTransactionButton {
    margin-top: 120px;
  }
  .dropDownListWrap {
    background-color: #ffffff;
    z-index: 10;
    left: -15px;
    border-radius: 5px;
    font-size: 18px;
    text-align: left;
    padding: 4px 12px;
  }
}
