.typeTransactButton{
    padding: 5px 20px;
    background-color:transparent;
    border-radius:10px;
    border:1px dashed black;
    width: 120px;
    font-size: 15px;
    font-weight: 500;
    }

    .rateTransaction{
        border:1px dashed rgb(187, 12, 12);
        background-color:rgba(252, 56, 22, 0.205);

    }
    .incomeTransaction{
        border:1px dashed green;
        background-color:rgba(0, 255, 0, 0.281);

    }
    .generalTransaction{
        border:1px dashed blue;
        background-color:rgba(0, 174, 255, 0.281);

    }
    .largeSize{
        width: 150px;
        font-size: 20px;
    }

    .totalValue{
        display: inline-block;
        text-align: center;
    }
